/*
* This configuration file called with Nextflow parameter -profile docker
*/

// Here we define some AWS parameters like the region and the aws executables 
aws.region = 'us-west-1'

process {
    // definition of the awsbatch executor. Run the pipeline in a AWS node able to submit jobs via batch submission
    executor = 'awsbatch'

    // resources for default process execution
    memory='64G'
    cpus='8'
    time='12h'
}
